*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}



.bgtest{
	background-image:URL('Plano.jpg');
	height: 80vh;
	background-attachment: fixed;
	clip-path: polygon(0 calc(100% - 8vw), 
					50% 100%, 
					100% calc(100% - 8vw), 
					100% 0, 
					0 0);

}

.bgtest2{
	background-color: #FDFDFD;
	height: 35em;
	padding: 18vw 10vw 1vw 10vw;
	margin-top:-8vw;

	text-align: center;
		
}



.aboutpara{
	line-height: 1.5;
	font-size: 1.5em;
}

.title{
	padding-top: 9em;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.titleimg{
	width: 12em;
}

.signature{
	width: 200px;
	padding-top: 2em;

}



ul{
	list-style:none;
	padding-top:1.5em;
}

.headlink{
	text-decoration: none;
}
.headlink:visited{
	color: #FDFDFD;
}




.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FDFDFD;
	padding-top: 1.5em;

}

.right-nav{
	padding-right: 1em;
	font-size: 1.3em;
}

.navlink{
	padding-top: 0.2em;
}

.left-nav{
	padding-left: 1em;
}

.bgtest3{
	background-color: #FFF9E6;
	width: 100%;
	overflow: auto;
	clip-path: polygon(
		0 6vw,
		100% 0,
		100% 100%,
		0 calc(100% - 6vw)
		);
	margin-top: -6vw;
	padding-top: 20vw;
	
	box-sizing: border-box;
	padding-bottom: 20vh;
	


}

.aboutflex{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutheader{
	background-color: red;
	border-radius: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #FDFDFD;
	font-size: 1em;
}

.menufont{
	background-color: red;
	border-radius: 2em;
	color: #FDFDFD;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1.2em;
	text-decoration: none;
}

.gift{
	width: 320px;
	padding-top: 1em;
	padding-bottom: 3em;
}

.bgtest4{
	margin-top: -6vw;
	padding-top: 20vw;
	background-color: #133F70;
	height: 50em;
	width: 100%;
	
	box-sizing: border-box;
	color: #FDFDFD;
	font-size: 1em;
}

.footerflex{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1em;

}

.hourflex{
	display:flex;
	justify-content: space-between;
}

.hourflex1{
	padding-right: 3em;
}

.footerflex2{
	padding-top: 1em;
	padding-bottom:1em;
}

.footerflex1{
	padding-top: 1em;
	padding-bottom: 2em;
}

.foodlist{
	text-align: center;
	font-size: 1.5em;
}

.foodlist p{
	font-size: 0.9em;
}

.foodbadge{
	width: 7em;
}

.join{
	width: 300px;

}

.footer {
	
	display: flex;
	
	
	justify-content: center;

}

.fa {
    padding: 8px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #FDFDFD;
    color: #133F70;
}



