*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}



.bgtest{
	background-image:URL('image.jpg');
	height: 20em;
	background-attachment: fixed;

}

.bgtest2{
	background-color: #FDFDFD;
	height: 30em;
	padding: 10vw 10vw 1vw 10vw;
	
	text-align: center;
		
}

.aboutpara{
	line-height: 1.5;
	font-size: 1.5em;
}

.title{
	text-align: center;
	padding-top: 4em;
	color: #FDFDFD;
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FDFDFD;
	padding-top: 1.5em;

}

.right-nav{
	padding-right: 1em;
}

.left-nav{
	padding-left: 1em;
}

.bgtest3{
	background-color: #FFF9E6;
	width: 100%;
	overflow: auto;
	clip-path: polygon(
		0 6vw,
		100% 0,
		100% 100%,
		0 calc(100% - 6vw)
		);
	margin-top: -6vw;
	padding-top: 20vw;
	
	box-sizing: border-box;
	padding-bottom: 50%;
	text-align: center;


}

.bgtest4{
	margin-top: -6vw;
	padding-top: 15vw;
	background-color: #133F70;
	height: 25em;
	width: 100%;
	padding-left: 1.5em;
	padding-right: 1.5em;
	box-sizing: border-box;
	color: #FDFDFD;
	font-size: 0.8em;
}

.footerflex{
	display:flex;
	justify-content: space-between;
}

.hourflex{
	display:flex;
	justify-content: space-between;
}

.foodlist{
	text-align: center;
	font-size: 1.5em;
}

.foodbadge{
	width: 10em;
}